[Unit]
Description=CBGB
After=network.target

[Service]
WorkingDirectory=/home/leslie/angel-mortal-bot
ExecStart=/home/angel-mortal-bot/.venv/bin/python bot.py

[Install]
WantedBy=multi-user.target