[Unit]
Description=CBGB
After=network.target

[Service]
ExecStart=/home/angel-mortal-bot/.venv/bin/python ./angel-mortal-bot/bot.py

[Install]
WantedBy=multi-user.target